.header {
  height: auto;
  padding: 100px 0;
}

.header__title {
  font-size: 2.5rem;
  line-height: 2.625rem;
  margin-top: 40px ;
  max-width: 460px;
}

.header__paragraph {
  font-size: 1.25rem;
  line-height: 1.5rem;
  max-width: 380px;
  margin: 0 auto;
}

.exchange__title { 
  font-size: 2.5rem;
  line-height: 2.625rem;
  width: 460px;
}

.exchange__paragraph {
  width: 466px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 0 auto;
}

.exchange__slider {
  overflow: auto;
  justify-content: center;
  gap: 30px;
}

.product-detail {
  padding: 64px 0;
}

.product-detail__title {
  font-size: 2.5rem;
  width: 466px;
  margin: 0 auto;
}

.product-detail__icon {
  top: -25px;
  width: 80px;
  height: 50px;
}

.product-detail__paragraph {
  font-size: 1.25rem;
}

.product-detail__cards { 
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;
}

.product-detail__card {
  height: 168px;
}

.product-detail__card:nth-child(odd) {
  margin-right: 10px;
}

.banner-bitcoin {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.banner-bitcoin__title {
  font-size: 2.5rem;  
}

.plans {
  padding-top: 80px;
}

.plans__title {
  font-size: 2.5rem;
  line-height: 2.625rem;
  width: 466px;
  margin: 0 auto;
}

.plans__paragraph {
  font-size: 1.25rem;
  line-height: 1.5rem;
  width: 466px;
  margin: 24px auto 0;
}

.plans__slider {
  overflow-x: auto;
}

.footer a {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.footer {
  padding: 80px 180px;
}

.footer li {
  margin-bottom: 16px;
}

.footer li:last-child {
  margin-bottom: 0;
}

.footer img {
  width: 165px;
  height: 110px;
}